.containerCard {
    background-color: #ffffff;
    padding: 0px 10px 0px 10px;
    margin-bottom: 5px;
    border-radius: 20px;
    margin-left: 5px;
    cursor: pointer;
}

.originDestiny {
    padding: 10px;
}

.flightProgress {
    height: 11px;
    border-radius: 20px;
}

.amountContainer {
    padding: 12px;
}

.dividerAmount {
    background-color: rgba(0, 0, 0, 0.12);
    margin-bottom: 12px;
}

.amountButton {
    font-weight: bold;
}
