.containerCard {
    background-color: #ffffff;
    padding: 0px 10px 10px 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    margin-left: 5px;
    cursor: pointer;
}

.originDestiny {
    padding: 10px;
}

.flightProgress {
    height: 11px;
    border-radius: 20px;
}

.amountContainer {
    padding: 12px;
    margin-top: 0px;
    padding-top: 0px;
}

.dividerAmount {
    border-width: 0.01em;
    margin-bottom: 12px;
}

.amountButton {
    font-weight: bold;
    height: 30px;
}

.airlineLogo {
    max-width: 80px;
}
