.parentContainer {
    padding: 0px;
}

.inputsFlightsContainer {
    background-color: white;
    border-radius: 20px;
    margin-bottom: 12px;
    padding: 0 2px;
}

.flightPicker {
    padding-top: 20px;
    margin-bottom: 10px
}

.separator {
    width: 90%;
    border-width: 0.01em;
    margin-bottom: 12px;
}
