.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    justify-content: space-between;
}

.input {
    width: 85%;
}

.icon {
    width: 10%;
}