.container {
    background-color: #eef7fd;
    position: relative;
    min-height:100vh;
    min-width: 100%;
}

.roundSelect {
    border-radius: 30px;
    display: flex;
}

.inputDateField {
    border-radius: 30px;
    width: 100%;
}

.datePickerInput{
    width: 100%;
}

.alertErrors{
    margin-top: 20px;
}

div[data-testid="passengers"] div[role="button"] {
    display: flex;
}

svg[data-testid="GroupIcon"] {
    padding-right: 10px;
}

.icon{
    font-size: 25px;
    color: black;
}

.inputsFlightsContainer {
    background-color: white;
    border-radius: 20px;
    margin-bottom: 12px;
}

.allHomePageGrid {
    padding: 8px;
}

.iconContainer {
    height: 60px;
    margin-bottom: 12px;
}

.title {
    font-weight: 900;
    margin-bottom: 32px;
}

.flightForm {
    width: 100%;
}

.roundPassContainer {
    margin-bottom: 24px;
}

.flightPicker:first-of-type {
    padding-top: 20px;
}

.flightPicker{
    padding-left: 12px;
    padding-right: 12px;
}

.datePicker {
    margin: 12px;
}

.divider {
    width: 85%;
    border-width: 0.01em;
}

.buttonContainer {
    padding-top: 14px;
}